To understand better the rows content is necesary to watch all the content, but columns as `keywords`, `crew`, `cast`, etc. are too long.<br/>
You could use this if you consider:

`pd.set_option('display.max_colwidth', None)`

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [16]:
movies = pd.read_csv('../data/tmdb_5000_movies.csv')
credits = pd.read_csv('../data/tmdb_5000_credits.csv')

In [17]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [18]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
print("Movies shape:", movies.shape)
print("Credits shape:", credits.shape)

Movies shape: (4803, 20)
Credits shape: (4803, 4)

In [20]:
movies = movies.merge(credits, on = 'title')

In [21]:
# Movies have been merge with each other
movies.shape

(4809, 23)

In [22]:
movies['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [23]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [24]:
# We just select columns that we need
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [25]:
movies.shape

(4809, 7)

In [26]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [27]:
movies.dropna(inplace=True)

In [28]:
movies.duplicated().sum()

0

In [29]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [30]:
# Note that some of the columns as genres or keywords contain dictionaries.

In [31]:
print(movies.iloc[0]['genres'])
print(type(movies.iloc[0]['genres']))

[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
<class 'str'>

In [32]:
import ast

def convert(text):
    l = []
    for i in ast.literal_eval(text):
        l.append(i['name'])

    return l

In [33]:
movies['genres'] = movies['genres'].apply(convert)

In [34]:
movies['keywords'] = movies['keywords'].apply(convert)

In [35]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [36]:
def convert_cast(text):
    l=[]
    counter=0
    for i in ast.literal_eval(text):
        if counter < 3:
            l.append(i['name'])
        counter +=1

    return l

In [37]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [38]:
def fechtch_director(text):
    l = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [39]:
movies['crew'] = movies['crew'].apply(fechtch_director)

In [40]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

Now, we have all the columns in the correcto format to work with it.

In [42]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

Some words are repeated also in `cast` as in `crew`. It could generate a confuse escenario.
For that reason, we have to use strategies as:

* Sam Worthington --> SamWorthington

In [44]:
def remove_space(word):
    l = []
    for i in word:
        l.append(i.replace(" ", ""))
    return l

In [45]:
movies['cast'] = movies['cast'].apply(remove_space)
movies['crew'] = movies['crew'].apply(remove_space)
movies['genres'] = movies['genres'].apply(remove_space)
movies['keywords'] = movies['keywords'].apply(remove_space)

Now we have to concatenate the columns to generate a chain of text for use later in a recommender system

In [46]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [47]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [52]:
new_df = movies[['movie_id', 'title', 'tags']]

In [53]:
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [54]:
# Now, we have to convert it into paragraph

new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

new_df.head(2)

/tmp/ipykernel_14276/3388596221.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [55]:
# Now we have to convert the text into lower case

new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())
new_df.head(2)

/tmp/ipykernel_14276/3661116134.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

You could find similar words in the colum 'tags'. <br/>
For instance: action and actions; love, loved, loving. <br/>
For that reason we need fix the paragraph:

In [56]:
import nltk
from nltk.stem import PorterStemmer

In [57]:
ps = PorterStemmer()

In [58]:
# For reduce the words to its root
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))

    return " ".join(l)

In [59]:
new_df['tags'] = new_df['tags'].apply(stems)

/tmp/ipykernel_14276/3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [60]:
new_df.iloc[0]['tags']

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [64]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words= 'english')

In [65]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [68]:
print(vector.shape)
vector

(4806, 5000)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [69]:
from sklearn.metrics.pairwise import cosine_similarity

In [70]:
similarity = cosine_similarity(vector)

In [71]:
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [72]:
similarity.shape

(4806, 4806)

In [74]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [75]:
new_df[new_df['title'] == 'Spider-Man']

     movie_id       title                                               tags
159       557  Spider-Man  after be bitten by a genet alter spider, nerdi...

In [83]:
similarity[159]

array([0.06362848, 0.06726728, 0.03466876, ..., 0.        , 0.        ,
       0.        ])

In [78]:
distances = sorted(list(enumerate(similarity[159])), reverse=True, key = lambda x: x[1])
distances

[(159, 0.9999999999999999),
 (5, 0.4717281765248634),
 (30, 0.404079343830274),
 (38, 0.2941742027072761),
 (1536, 0.2575131013123024),
 (1722, 0.2113409861029041),
 (20, 0.21049392463368705),
 (1120, 0.2025478734167333),
 (511, 0.1853123291652753),
 (1639, 0.17944458136637376),
 (2765, 0.17118419700436519),
 (203, 0.1681681984990781),
 (1192, 0.16357216402190616),
 (2745, 0.15724272550828777),
 (1385, 0.1495371511386448),
 (2741, 0.14824986333222023),
 (4347, 0.14824986333222023),
 (1297, 0.14782809899727067),
 (431, 0.14617633655117154),
 (68, 0.14567140814584595),
 (3487, 0.14269544824634822),
 (4548, 0.14269544824634822),
 (4655, 0.14269544824634822),
 (788, 0.14153462926807447),
 (813, 0.14008295367013146),
 (4660, 0.13867504905630731),
 (953, 0.13730875909527243),
 (420, 0.1359820733051053),
 (3165, 0.13497638119975425),
 (232, 0.1345345587992625),
 (3135, 0.1345345587992625),
 (215, 0.13344012817090595),
 (618, 0.13344012817090595),
 (72, 0.13259870882635919),
 (242, 0.13074409009212268),
 (805, 0.13074409009212268),
 (1267, 0.13074409009212268),
 (572, 0.12988108336653278),
 (126, 0.1289651760438322),
 (1742, 0.1289651760438322),
 (2825, 0.1289651760438322),
 (3218, 0.1289651760438322),
 (1127, 0.1283881477532739),
 (4076, 0.12725695259515557),
 (3265, 0.12561485860426555),
 (3779, 0.12543630150106364),
 (4281, 0.12403473458920847),
 (4753, 0.12403473458920847),
 (2102, 0.1235415527768502),
 (3953, 0.12267912301642962),
 (937, 0.12251277836633778),
 (61, 0.12009611535381537),
 (1623, 0.12009611535381537),
 (2074, 0.12009611535381537),
 (7, 0.11826247919781653),
 (2972, 0.11826247919781653),
 (368, 0.11766968108291043),
 (4403, 0.11766968108291043),
 (9, 0.11694106924093724),
 (728, 0.11694106924093724),
 (1701, 0.11694106924093724),
 (655, 0.11566298639324805),
 (31, 0.11538461538461539),
 (1850, 0.11538461538461539),
 (4598, 0.11538461538461539),
 (4319, 0.11483385035264293),
 (94, 0.11322770341445959),
 (1799, 0.11322770341445959),
 (2392, 0.11322770341445959),
 (3832, 0.11322770341445959),
 (4405, 0.11322770341445959),
 (129, 0.11206636293610517),
 (1453, 0.11206636293610517),
 (1145, 0.11118739749916517),
 (165, 0.11094003924504584),
 (4399, 0.11094003924504584),
 (3826, 0.10984700727621795),
 (996, 0.10925355610938446),
 (1430, 0.10925355610938446),
 (1654, 0.10925355610938446),
 (3401, 0.10925355610938446),
 (3370, 0.10895340841010226),
 (3877, 0.10775449168807308),
 (292, 0.10741723110591492),
 (3385, 0.10741723110591492),
 (2882, 0.10675210253672476),
 (115, 0.10577717706958903),
 (3046, 0.10577717706958903),
 (3633, 0.10577717706958903),
 (122, 0.10567049305145204),
 (931, 0.10567049305145204),
 (3051, 0.10567049305145204),
 (2564, 0.10482848367219184),
 (198, 0.10400628679223047),
 (294, 0.10400628679223047),
 (1361, 0.10400628679223047),
 (4037, 0.10400628679223047),
 (1455, 0.10390486669322624),
 (3805, 0.10300524052492095),
 (4480, 0.10300524052492095),
 (413, 0.10241831129983785),
 (2192, 0.10241831129983785),
 (2281, 0.10241831129983785),
 (2567, 0.10241831129983785),
 (4035, 0.10241831129983785),
 (4726, 0.10241831129983785),
 (381, 0.10127393670836665),
 (1818, 0.10127393670836665),
 (2476, 0.10127393670836665),
 (2983, 0.10127393670836665),
 (3986, 0.10127393670836665),
 (4637, 0.10127393670836665),
 (4643, 0.10127393670836665),
 (46, 0.10090091909944687),
 (547, 0.10090091909944687),
 (2764, 0.10090091909944687),
 (79, 0.10044039219036509),
 (2516, 0.10044039219036509),
 (4631, 0.09962709627734359),
 (859, 0.0994490316197694),
 (2657, 0.0994490316197694),
 (4488, 0.09883324222148016),
 (1440, 0.09805806756909202),
 (2335, 0.09805806756909202),
 (3525, 0.09805806756909202),
 (4555, 0.09805806756909202),
 (4641, 0.09805806756909202),
 (1360, 0.09805806756909201),
 (1804, 0.09805806756909201),
 (3496, 0.09805806756909201),
 (3845, 0.09805806756909201),
 (332, 0.09672388203287416),
 (3109, 0.09656090991705352),
 (16, 0.09544271444636668),
 (37, 0.09544271444636668),
 (131, 0.09544271444636668),
 (241, 0.09544271444636668),
 (2790, 0.09544271444636668),
 (3220, 0.09544271444636668),
 (4755, 0.09544271444636668),
 (1372, 0.09513029883089882),
 (1935, 0.09513029883089882),
 (4008, 0.09513029883089882),
 (4259, 0.09513029883089882),
 (4646, 0.09513029883089882),
 (174, 0.09421114395319916),
 (2813, 0.09421114395319916),
 (3184, 0.09421114395319916),
 (10, 0.09302605094190636),
 (14, 0.09302605094190636),
 (26, 0.09302605094190636),
 (101, 0.09302605094190636),
 (369, 0.09302605094190636),
 (4624, 0.09302605094190636),
 (1102, 0.09245003270420488),
 (1137, 0.09245003270420488),
 (2423, 0.09245003270420488),
 (4346, 0.09245003270420488),
 (508, 0.09188458377475334),
 (4450, 0.09188458377475334),
 (1133, 0.09181462976097773),
 (210, 0.09078412990032037),
 (503, 0.09078412990032037),
 (2159, 0.09078412990032037),
 (4519, 0.09078412990032037),
 (205, 0.0899842541331695),
 (967, 0.0899842541331695),
 (4120, 0.0899842541331695),
 (3933, 0.08972229068318688),
 (238, 0.08939803125353485),
 (1574, 0.08939803125353485),
 (339, 0.0886968593983624),
 (410, 0.0886968593983624),
 (1363, 0.0886968593983624),
 (2052, 0.0886968593983624),
 (2348, 0.0886968593983624),
 (466, 0.08770580193070293),
 (520, 0.08770580193070293),
 (627, 0.08770580193070293),
 (1520, 0.08770580193070293),
 (2483, 0.08770580193070293),
 (2719, 0.08770580193070293),
 (3153, 0.08770580193070293),
 (3480, 0.08770580193070293),
 (4028, 0.08770580193070293),
 (4443, 0.08770580193070293),
 (784, 0.08674723979493604),
 (870, 0.08674723979493604),
 (1934, 0.08674723979493604),
 (2340, 0.08674723979493604),
 (2627, 0.08674723979493604),
 (2981, 0.08674723979493604),
 (543, 0.08581943515359347),
 (911, 0.08581943515359347),
 (1271, 0.08581943515359347),
 (490, 0.08559209850218259),
 (2453, 0.08559209850218259),
 (2918, 0.08559209850218259),
 (3382, 0.08559209850218259),
 (4544, 0.08559209850218259),
 (182, 0.08492077756084469),
 (1613, 0.08492077756084469),
 (1628, 0.08492077756084469),
 (1688, 0.08492077756084469),
 (2002, 0.08492077756084469),
 (3919, 0.08459098688756271),
 (254, 0.08404977220207888),
 (2543, 0.08404977220207888),
 (3701, 0.08404977220207888),
 (3923, 0.08404977220207888),
 (233, 0.08362420100070908),
 (624, 0.08362420100070908),
 (1516, 0.08362420100070908),
 (2394, 0.08362420100070908),
 (3053, 0.08362420100070908),
 (2772, 0.08320502943378438),
 (1231, 0.08238525545716346),
 (2031, 0.08238525545716346),
 (209, 0.08178608201095308),
 (505, 0.08178608201095308),
 (537, 0.08178608201095308),
 (668, 0.08178608201095308),
 (1290, 0.08178608201095308),
 (2757, 0.08178608201095308),
 (3674, 0.08178608201095308),
 (4190, 0.08178608201095308),
 (248, 0.08081586876605482),
 (777, 0.08081586876605482),
 (2368, 0.08081586876605482),
 (169, 0.08006407690254358),
 (237, 0.08006407690254358),
 (319, 0.08006407690254358),
 (715, 0.08006407690254358),
 (1490, 0.08006407690254358),
 (2240, 0.08006407690254358),
 (3534, 0.08006407690254358),
 (3880, 0.08006407690254358),
 (3992, 0.08006407690254358),
 (4059, 0.08006407690254358),
 (2400, 0.07933288280219178),
 (113, 0.07862136275414389),
 (143, 0.07862136275414389),
 (1529, 0.07862136275414389),
 (3846, 0.07862136275414389),
 (33, 0.07844645405527362),
 (148, 0.07844645405527362),
 (744, 0.07844645405527362),
 (1938, 0.07844645405527362),
 (2264, 0.07844645405527362),
 (1750, 0.07792865001991968),
 (1763, 0.07792865001991968),
 (1844, 0.07792865001991968),
 (2424, 0.07792865001991968),
 (4235, 0.07792865001991968),
 (262, 0.07725393039369072),
 (2101, 0.07725393039369072),
 (951, 0.07692307692307693),
 (1055, 0.07692307692307693),
 (3131, 0.07692307692307693),
 (3670, 0.07692307692307693),
 (3944, 0.07692307692307693),
 (4201, 0.07692307692307693),
 (4355, 0.07692307692307693),
 (4470, 0.07692307692307693),
 (467, 0.07659643817822481),
 (15, 0.07595545253127499),
 (483, 0.07548513560963972),
 (2893, 0.07548513560963972),
 (2946, 0.07548513560963972),
 (4357, 0.07548513560963972),
 (403, 0.07533029414277381),
 (654, 0.07533029414277381),
 (2435, 0.07533029414277381),
 (2961, 0.07533029414277381),
 (423, 0.0747203222080077),
 (1392, 0.0747203222080077),
 (63, 0.07412493166611012),
 (154, 0.07412493166611012),
 (208, 0.07412493166611012),
 (259, 0.07412493166611012),
 (562, 0.07412493166611012),
 (1058, 0.07412493166611012),
 (1101, 0.07412493166611012),
 (1273, 0.07412493166611012),
 (1670, 0.07412493166611012),
 (1752, 0.07412493166611012),
 (2116, 0.07412493166611012),
 (2818, 0.07412493166611012),
 (2829, 0.07412493166611012),
 (3114, 0.07412493166611012),
 (3514, 0.07412493166611012),
 (4404, 0.07412493166611012),
 (2357, 0.07354355067681902),
 (2169, 0.072975638311578),
 (12, 0.07283570407292297),
 (88, 0.07283570407292297),
 (648, 0.07283570407292297),
 (742, 0.07283570407292297),
 (1090, 0.07283570407292297),
 (1969, 0.07283570407292297),
 (2137, 0.07283570407292297),
 (2155, 0.07283570407292297),
 (2680, 0.07283570407292297),
 (1359, 0.07242068243779014),
 (2993, 0.07221581446741189),
 (299, 0.07187819777741404),
 (1731, 0.07187819777741404),
 (4249, 0.07187819777741403),
 (64, 0.07161148740394328),
 (597, 0.07161148740394328),
 (1071, 0.07161148740394328),
 (1488, 0.07161148740394328),
 (2071, 0.07161148740394328),
 (2455, 0.07161148740394328),
 (2546, 0.07161148740394328),
 (3332, 0.07161148740394328),
 (3985, 0.07161148740394328),
 (1824, 0.07134772412317411),
 (2583, 0.07134772412317411),
 (678, 0.0704469953676347),
 (745, 0.0704469953676347),
 (1247, 0.0704469953676347),
 (1709, 0.0704469953676347),
 (2570, 0.0704469953676347),
 (3446, 0.0704469953676347),
 (3447, 0.0704469953676347),
 (4499, 0.0704469953676347),
 (4578, 0.0704469953676347),
 (1920, 0.07032108464077431),
 (864, 0.06982410961735916),
 (1280, 0.06982410961735916),
 (1551, 0.06982410961735916),
 (1240, 0.06933752452815364),
 (2185, 0.06933752452815364),
 (2996, 0.06933752452815364),
 (3003, 0.06933752452815364),
 (4636, 0.06933752452815364),
 (4046, 0.0688609723207333),
 (2077, 0.06839411288813299),
 (2363, 0.06839411288813299),
 (50, 0.0682788741998919),
 (894, 0.0682788741998919),
 (1140, 0.0682788741998919),
 (1239, 0.0682788741998919),
 (1924, 0.0682788741998919),
 (1978, 0.0682788741998919),
 (2300, 0.0682788741998919),
 (2492, 0.0682788741998919),
 (2585, 0.0682788741998919),
 (3937, 0.0682788741998919),
 (578, 0.06793662204867573),
 (428, 0.06748819059987712),
 (1, 0.06726727939963124),
 (121, 0.06726727939963124),
 (315, 0.06726727939963124),
 (741, 0.06726727939963124),
 (1030, 0.06726727939963124),
 (1352, 0.06726727939963124),
 (2124, 0.06726727939963124),
 (2572, 0.06726727939963124),
 (3524, 0.06726727939963124),
 (3951, 0.06726727939963124),
 (197, 0.06704852344015114),
 (2186, 0.06704852344015114),
 (39, 0.06629935441317959),
 (1194, 0.06629935441317959),
 (1941, 0.06629935441317959),
 (1979, 0.06629935441317959),
 (2165, 0.06629935441317959),
 (2171, 0.06629935441317959),
 (3006, 0.06629935441317959),
 (3384, 0.06629935441317959),
 (3468, 0.06629935441317959),
 (3788, 0.06629935441317959),
 (4543, 0.06629935441317959),
 (4667, 0.06629935441317959),
 (4761, 0.06629935441317959),
 (127, 0.06619436724610318),
 (2566, 0.06619436724610318),
 (2594, 0.0657793514480272),
 (245, 0.06537204504606134),
 (603, 0.06537204504606134),
 (786, 0.06537204504606134),
 (817, 0.06537204504606134),
 (3408, 0.06537204504606134),
 (3600, 0.06537204504606134),
 (3802, 0.06537204504606134),
 (3904, 0.06537204504606134),
 (3924, 0.06537204504606134),
 (4602, 0.06537204504606134),
 (4657, 0.06537204504606134),
 (4777, 0.06537204504606134),
 (3737, 0.0649722122736315),
 (939, 0.06457962733644264),
 (2786, 0.06457962733644264),
 (164, 0.0644825880219161),
 (472, 0.0644825880219161),
 (641, 0.0644825880219161),
 (1323, 0.0644825880219161),
 (3293, 0.0644825880219161),
 (3849, 0.0644825880219161),
 (0, 0.06362847629757779),
 (322, 0.06362847629757779),
 (329, 0.06362847629757779),
 (390, 0.06362847629757779),
 (411, 0.06362847629757779),
 (711, 0.06362847629757779),
 (1450, 0.06362847629757779),
 (2811, 0.06362847629757779),
 (3268, 0.06362847629757779),
 (4162, 0.06362847629757779),
 (1057, 0.06344324016567203),
 (196, 0.06280742930213278),
 (814, 0.06280742930213278),
 (844, 0.06280742930213278),
 (922, 0.06280742930213278),
 (926, 0.06280742930213278),
 (1111, 0.06280742930213278),
 (1193, 0.06280742930213278),
 (1412, 0.06280742930213278),
 (3850, 0.06280742930213278),
 (887, 0.06236480624445477),
 (96, 0.062017367294604234),
 (138, 0.062017367294604234),
 (187, 0.062017367294604234),
 (437, 0.062017367294604234),
 (1300, 0.062017367294604234),
 (1736, 0.062017367294604234),
 (2436, 0.062017367294604234),
 (2540, 0.062017367294604234),
 (2682, 0.062017367294604234),
 (3023, 0.062017367294604234),
 (3057, 0.062017367294604234),
 (3443, 0.062017367294604234),
 (3748, 0.062017367294604234),
 (4410, 0.062017367294604234),
 (4513, 0.062017367294604234),
 (659, 0.06125638918316889),
 (1292, 0.06125638918316889),
 (1379, 0.06125638918316889),
 (1507, 0.06125638918316889),
 (2204, 0.06125638918316889),
 (2914, 0.06125638918316889),
 (2962, 0.06125638918316889),
 (80, 0.06100888760865632),
 (1630, 0.06100888760865632),
 (1832, 0.06100888760865632),
 (98, 0.060522753266880246),
 (111, 0.060522753266880246),
 (168, 0.060522753266880246),
 (311, 0.060522753266880246),
 (330, 0.060522753266880246),
 (451, 0.060522753266880246),
 (677, 0.060522753266880246),
 (986, 0.060522753266880246),
 (1180, 0.060522753266880246),
 (1342, 0.060522753266880246),
 (2460, 0.060522753266880246),
 (2954, 0.060522753266880246),
 (3823, 0.060522753266880246),
 (394, 0.05981486045545792),
 (2009, 0.05981486045545792),
 (2391, 0.05981486045545792),
 (2432, 0.05981486045545792),
 (3781, 0.05981486045545792),
 (4166, 0.05981486045545792),
 (4284, 0.05981486045545792),
 (3484, 0.05973772972001454),
 (71, 0.059131239598908265),
 (85, 0.059131239598908265),
 (350, 0.059131239598908265),
 (2268, 0.059131239598908265),
 (2397, 0.059131239598908265),
 (2828, 0.059131239598908265),
 (3182, 0.059131239598908265),
 (3593, 0.059131239598908265),
 (4621, 0.059131239598908265),
 (523, 0.05847053462046862),
 (1116, 0.05847053462046862),
 (1295, 0.05847053462046862),
 (1317, 0.05847053462046862),
 (1621, 0.05847053462046862),
 (1992, 0.05847053462046862),
 (2362, 0.05847053462046862),
 (2752, 0.05847053462046862),
 (4048, 0.05797169096162336),
 (76, 0.05783149319662403),
 (932, 0.05783149319662403),
 (1353, 0.05783149319662403),
 (1827, 0.05783149319662403),
 (4078, 0.05783149319662403),
 (4094, 0.05783149319662403),
 (41, 0.05721295676906231),
 (271, 0.05721295676906231),
 (674, 0.05721295676906231),
 (831, 0.05721295676906231),
 (1338, 0.05721295676906231),
 (2092, 0.05721295676906231),
 (3189, 0.05721295676906231),
 (3609, 0.05721295676906231),
 (4483, 0.05721295676906231),
 (609, 0.056613851707229795),
 (767, 0.056613851707229795),
 (1270, 0.056613851707229795),
 (1274, 0.056613851707229795),
 (1795, 0.056613851707229795),
 (1843, 0.056613851707229795),
 (2003, 0.056613851707229795),
 (2525, 0.056613851707229795),
 (2588, 0.056613851707229795),
 (2816, 0.056613851707229795),
 (3186, 0.056613851707229795),
 (3450, 0.056613851707229795),
 (3483, 0.056613851707229795),
 (3718, 0.056613851707229795),
 (3886, 0.056613851707229795),
 (4502, 0.056613851707229795),
 (307, 0.056353556757400836),
 (243, 0.056033181468052584),
 (531, 0.056033181468052584),
 (596, 0.056033181468052584),
 (743, 0.056033181468052584),
 (918, 0.056033181468052584),
 (1001, 0.056033181468052584),
 (1096, 0.056033181468052584),
 (1265, 0.056033181468052584),
 (1442, 0.056033181468052584),
 (1697, 0.056033181468052584),
 (2354, 0.056033181468052584),
 (2767, 0.056033181468052584),
 (3405, 0.056033181468052584),
 (3739, 0.056033181468052584),
 (3905, 0.056033181468052584),
 (4178, 0.056033181468052584),
 (114, 0.05547001962252292),
 (1036, 0.05547001962252292),
 (2239, 0.05547001962252292),
 (3369, 0.05547001962252292),
 (2345, 0.055103876877798386),
 (442, 0.054923503638108974),
 (470, 0.054923503638108974),
 (732, 0.054923503638108974),
 (3793, 0.054923503638108974),
 (58, 0.054392829322042126),
 (586, 0.054392829322042126),
 (718, 0.054392829322042126),
 (1441, 0.054392829322042126),
 (1600, 0.054392829322042126),
 (2311, 0.054392829322042126),
 (2359, 0.054392829322042126),
 (2571, 0.054392829322042126),
 (2852, 0.054392829322042126),
 (3031, 0.054392829322042126),
 (3331, 0.054392829322042126),
 (3361, 0.054392829322042126),
 (3735, 0.054392829322042126),
 (3772, 0.054392829322042126),
 (4348, 0.054392829322042126),
 (4353, 0.054392829322042126),
 (1673, 0.05387724584403654),
 (1902, 0.05387724584403654),
 (2076, 0.05387724584403654),
 (2407, 0.05387724584403654),
 (2336, 0.05337605126836238),
 (396, 0.052888588534794514),
 (518, 0.052888588534794514),
 (1870, 0.052888588534794514),
 (2129, 0.052888588534794514),
 (4340, 0.052888588534794514),
 (4384, 0.052888588534794514),
 (119, 0.05241424183609592),
 (199, 0.05241424183609592),
 (1841, 0.05241424183609592),
 (1980, 0.05241424183609592),
 (3128, 0.05241424183609592),
 (3144, 0.05241424183609592),
 (3267, 0.05241424183609592),
 (3724, 0.05241424183609592),
 (3852, 0.05241424183609592),
 (3947, 0.05241424183609592),
 (4365, 0.05241424183609592),
 (447, 0.05195243334661312),
 (746, 0.05195243334661312),
 (1017, 0.05195243334661312),
 (32, 0.051502620262460476),
 (170, 0.051502620262460476),
 (217, 0.051502620262460476),
 (443, 0.051502620262460476),
 (471, 0.051502620262460476),
 (1729, 0.051502620262460476),
 (3729, 0.051502620262460476),
 (48, 0.05106429211881654),
 (190, 0.05106429211881654),
 (273, 0.05106429211881654),
 (541, 0.05106429211881654),
 (1458, 0.05106429211881654),
 (1635, 0.05106429211881654),
 (62, 0.050636968354183326),
 (253, 0.050636968354183326),
 (534, 0.050636968354183326),
 (2643, 0.050636968354183326),
 (3047, 0.050636968354183326),
 (3216, 0.050636968354183326),
 (3976, 0.050636968354183326),
 (4564, 0.050636968354183326),
 (4737, 0.050636968354183326),
 (19, 0.050220196095182544),
 (27, 0.050220196095182544),
 (1028, 0.050220196095182544),
 (1927, 0.050220196095182544),
 (3574, 0.050220196095182544),
 (4607, 0.050220196095182544),
 (2022, 0.04990306042674866),
 (84, 0.049813548138671795),
 (107, 0.049813548138671795),
 (836, 0.049813548138671795),
 (1451, 0.049813548138671795),
 (3076, 0.049813548138671795),
 (3597, 0.049813548138671795),
 (501, 0.04941662111074008),
 (768, 0.04941662111074008),
 (2800, 0.04941662111074008),
 (3616, 0.04941662111074008),
 (4176, 0.04941662111074008),
 (252, 0.04902903378454601),
 (584, 0.04902903378454601),
 (866, 0.04902903378454601),
 (1268, 0.04902903378454601),
 (1378, 0.04902903378454601),
 (1660, 0.04902903378454601),
 (2039, 0.04902903378454601),
 (2057, 0.04902903378454601),
 (2328, 0.04902903378454601),
 (2349, 0.04902903378454601),
 (2578, 0.04902903378454601),
 (3157, 0.04902903378454601),
 (3286, 0.04902903378454601),
 (3756, 0.04902903378454601),
 (4031, 0.04902903378454601),
 (4457, 0.04902903378454601),
 (4492, 0.04902903378454601),
 (4568, 0.04902903378454601),
 (139, 0.048650425541052),
 (2045, 0.04836194101643708),
 (17, 0.04828045495852676),
 (103, 0.04828045495852676),
 (1344, 0.04828045495852676),
 (2418, 0.04828045495852676),
 (469, 0.047918798518276025),
 (949, 0.047918798518276025),
 (1499, 0.047918798518276025),
 (1894, 0.047918798518276025),
 (2545, 0.047918798518276025),
 (213, 0.04756514941544941),
 (774, 0.04756514941544941),
 (776, 0.04756514941544941),
 (1358, 0.04756514941544941),
 (1433, 0.04756514941544941),
 (1669, 0.04756514941544941),
 (1771, 0.04756514941544941),
 (1773, 0.04756514941544941),
 (2776, 0.04756514941544941),
 (2785, 0.04756514941544941),
 (3061, 0.04756514941544941),
 (3526, 0.04756514941544941),
 (3611, 0.04756514941544941),
 (3719, 0.04756514941544941),
 (3726, 0.04756514941544941),
 (3830, 0.04756514941544941),
 (3983, 0.04756514941544941),
 (3998, 0.04756514941544941),
 (4106, 0.04756514941544941),
 (4279, 0.04756514941544941),

In [84]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [85]:
recommend('Spider-Man')

Spider-Man 3
Spider-Man 2
The Amazing Spider-Man 2
Arachnophobia
Kick-Ass

In [86]:
recommend('The Dark Knight')

The Dark Knight Rises
Batman Begins
Batman Returns
Batman Forever
Batman

In [ ]:
import pickle

In [91]:
with open('../artifacts/movie_list.pkl', 'wb') as f:
    pickle.dump(new_df, f)

In [92]:
with open('../artifacts/similarity.pkl', 'wb') as f:
    pickle.dump(similarity, f)